.nav {
    font-size: 30px;
    text-align: right;
}
.fadein img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}
@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    53% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    53% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#f1 {
    background-color: aqua;
}
#f2 {
    -webkit-animation-delay: -4s;
}
#f3 {
    -webkit-animation-delay: -2s;
}
.button {
    border: solid #555 2px;
    background-color: blue;
    align-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 80px;
}
.fadein img {
    width: 100%;
    height: 100%;
}
.fadein {
    width: 100%;
    height: 100%;
    padding: 0;
}
.fadein img {
    width: 50%;
    height: 50%;
}
